<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .form-name {
        size: 10%;
    }

    body {
        background-image: linear-gradient(to right, #A5D6D6, #28DEDE);
        background-size: 100%;
        text-align: center;
        justify-content: center;

    }

    #image-symbol {
        width: 20px;
    }

    .wrapper{
        font-size: 200%;
    }

    


</style>

<body>

    <div class="wrapper">
        <h1>Want to know your vaccine distribution?
        </h1>
        <h2>Enter you state below</h2>

        <div class="form-name">
            <form action='/result' method='POST'>
                <img id="image-symbol" src="../static/Health.png">
                <label for="stateName">Enter state:</label><br>
                <input type="text" id="stateName" name="stateName"><br>
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
</body>

</html>