.form-name{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: red;
    size: 10%;
}

.body{
    background-color: red;
}